.footer_section {
	background-color: #f6f6f6;
	padding: 0px 20px 20px 20px;
}

.footer_container {
	display: flex;
	padding: 50px 20px 20px 20px;
	margin: auto;
	max-width: 1440px;
	justify-content: space-between;
}

.company_logo_container {
	width: 20%;
	height: 100%;
	background-color: #ffffff;
	border-radius: 10px;
	justify-content: center;
	display: flex;
}

.company_logo_footer {
	height: 100px;
	width: 80%;
	background-image: url("../Assets/companylogo_raamdeluxe.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.footer_content_container {
	display: flex;
	column-gap: 50px;
}

.footer_content_container h3 {
	margin: 0;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	font-size: 15px;
	color: #2f353e;
}

.footer_content_container {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #6c757d;
}

.social_logos {
	display: flex;
	margin: 16px 0;
	height: 15%;
}

.facebook_icon {
	flex: 1;
	height: 100%;
}

.instagram_icon {
	flex: 1;
	height: 100%;
}

.pinterest_icon {
	flex: 1;
	height: 100%;
}

.copyright_and_terms {
	display: flex;
	max-width: 1440px;
	margin: auto;
	justify-content: space-between;
	font-family: "Futura PT";
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #6c757d;
}

@media screen and (max-width: 600px) {
	.footer_container {
		flex-direction: column-reverse;
		flex-wrap: wrap;
		gap: 20%;
	}

	.company_logo_container {
		width: 100%;
	}

	.footer_content_container {
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 0px;
		text-align: center;
		padding-bottom: 10%;
	}

	.content_container {
		width: 50%;
	}

	.discover {
		width: 50%;
	}

	.legal {
		width: 50%;
	}

	.socials {
		width: 50%;
	}

	.copyright_and_terms {
		text-align: center;
		padding-top: 10%;
	}

	.copyright {
		width: 50%;
	}

	.terms {
		width: 50%;
	}
}
